@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Lato", sans-serif;
}


.active{
    background-color: #277c6f;
    border-radius: 0.375rem;
    color: white;
}
/* .active:hover{
    
} */

.breadcrumbs {
    list-style: none;
    display: flex;
  }
  
  .breadcrumbs li {
    margin-right: 5px;
  }
  
  .breadcrumbs li + li::before {
    content: '>';
    margin-right: 5px;
    color: white;
  }
  